{% extends '../layout.njk' %}

{% block content %}

<main class="login-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Create Account</div>
                    <div class="card-body">
                        <form method="POST">
                              <input type='hidden' name='_csrf' value={{_csrf}}>
                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                <div class="col-md-6">
                                   <input type='email' name='email' id='email'  class="form-control" placeholder='Email' autofocus autocomplete='email' required>
                                </div>
                            </div>
                            <br>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                      <input type='password' name='password'  class="form-control" id='password' placeholder='Password' autocomplete='new-password' required>
                                </div>
                            </div>
<br>
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type='password' name='confirmPassword'  class="form-control" id='confirmPassword' placeholder='Confirm Password' autocomplete='new-password' required>
                                </div>
                            </div>
<br>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Login
                                </button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>

{% endblock %}
