
{% extends "../../layout.njk" %}

{% block content %}
    <div class="row">
        {% verbatim %}

    <div class="col-md-3 fileList">
        <div class="sticky-top">
            <div class="locationHeader row">
                <div class="col-md-10">
                    <span class="currentLocation" v-show="!searchText">All Notes</span>
                    <span class="currentLocation" v-html="searchText"></span>
                </div>
                <div class="col-md-2 text-right options">
                    <button type="button" class="btn disabled">&#x2699;</button>
                </div>
            </div>
            <div class="toolbar row">
                <button type="button" @click='newNoteButton()' class="btn btn-light col">&#x1f4dd; New Note</button>
                <button type="button" class="btn btn-light col disabled">&#x1f5bc; Add Image</button>
                <button type="button" class="btn btn-light col disabled">&#x1f4ce; Upload File</button>
            </div>
        </div>

        <div id="fileListNav" v-cloak>
        
                <div v-for="note in searchNotes" :key="note.document_id">
                <div class="fileItem" v-bind:id='"note-" + note.document_id' @click="viewNote(note);" v-bind:data-id='note.document_id'>
                    <div v-show='note.archived'>
                        <p class="fileTitle" v-if="note.title">{{ note.title }}</p>
                        <p class="fileTitle" v-else="note.title"><i>untitled note</i></p>
                        <p v-if="note.content">{{ note.content | striphtml | truncate(160) }}</p>
                        <p>
                            <span class="meta">{{ note.createdAt | cut(10) }}</span> 
                            <span v-for="tag in note.tags">
                            <router-link tag='span' class='meta tag' :to="{ params: 'notes', query: { search: '#' + tag.title }}" exact>{{tag.title}}</span>
                            </span>
                        </p>      
                    </div>
                </div>
            </div>
            </router-link>
        </div>



    </div>
    <div class="col-md-9 sidepanel">
        <div class="sidepanelCover">
            <div class="tips">
                <p><strong>Tip:</strong> Click <button class="btn btn-dark" @click='newNoteButton()'>&#x1f4dd; New Note</button> to start creating a new note, everything saves automatically.</p>
            </div>
        </div>
        <div class="editor">
            <input class="panelTitle" name="fileTitle" v-model='currentNote.title' placeholder="Title">
            <div class="meta">
                <div class="tags">
                    <span class="tag" v-for="(tag, index) in currentNote.tags">
                        {{tag.title}} 
                        <span class="tagRemove" @click="removeTag(index)">x</span>
                    </span>
                    <input class="tag tag-new" placeholder="+ add a tag" v-model="newTagText" @keyup.enter="addNewTag()">
                </div>
                <div class="metaOptions">
                    <span class="disabled">&#x2699;</span>
                    <span class="disabled">📜</span>
                    <span @click="archiveNote(currentNote.document_id)">&#x1f5d1;</span>
                </div>
            </div>
            <ckeditor :editor="editor.editor" v-model="currentNote.content" :config="editor.editorConfig"></ckeditor>
        </div>

    {% endverbatim %}

{% endblock %}
