<html>
  <head>
  <title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/assets/css/style.css">

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
    <script src="/assets/js/main.js"></script>

    <script src="/assets/js/ckeditor-classic.js"></script>
    <script src="/assets/js/ckeditor-vue.js"></script>


    <script src="/assets/js/fuse.min.js"></script>
    
  </head>
<body>
  <div id="app">
 
    {% include 'partials/header.njk' %}
    {% include 'partials/flash.njk' %}
    <div class="container" >
      <div class="row">
        {% include 'partials/sidebar.njk' %}
        <div class="container content col">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/assets/js/vue-components.js"></script>

    {% block scripts %}{% endblock %}
    {% include 'partials/footer.njk' %}

   

</div>
</body>