.sidebar, .fileList, .sidepanel { 
    border-right: 1px solid rgba(0,0,0,0.3);
    padding: 0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.sidebar {
    min-height: 100vh;
    max-width: 262px;
    width: 100%;
    background:#1A1A1A;
    color:rgb(230, 230, 230);
    display: block;
    position: fixed;
    z-index:9999;
}

.sidebar  .avatar-dd {
    border-radius: 50%;
    padding: 0 !Important;
    float: right;
    margin-top: 2px;
}

.sidebar .avatar-dd .avatar {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background:rgba(255,255,255,0.2);
    display: inline-block;
    overflow: hidden;
    opacity: 0.8;
    cursor: pointer;
    padding: 0 !important;
}

.sidebar .avatar-dd .avatar img {
    width: 100%;
    height: 100%;
}

.sidebar .dropdown-item {
    padding-left: 0;
}

.sidebar .dropdown-menu {
    z-index: 9999;
}

.sidebar .panelTitle {
    word-wrap: anywhere;
    width: 100%;
}

.panelTitle {
    padding: 17px 20px;
    margin-bottom: 0;
    font-weight: 700;
    border: none;
    font-size: 2rem;
}

.sidebar .panelTitle {
    float: left;
    font-weight: 900;
    font-size: 1.7rem;
    margin: 4px 0px;
}

.sidebar .avatar-dd .dropdown-toggle::after {
    display: none;
}

.sidebar label .new-entity {
    padding-left: 5px;
    opacity: 0.25;
    color:#000;
    font-weight: 900;
    margin-top: -8px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar label .new-entity:hover {
    opacity: 1;
}

.content .row {
    margin: 0;
}

hr {
    border-color: rgb(196, 196, 196);
}

.sidebar ul {
    padding-left: 0;
}

.sidebar ul li {
    padding: 3px;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 3px;
    margin-left: 20px;
    max-width: 165px;
    opacity: 0.85;
}

.sidebar ul li:hover {
    cursor: pointer;
    opacity: 1;
    font-weight: 700;
}

.sidebar .add-bookmark {
    text-transform: uppercase;
    opacity: 0.6;
    font-size: 11px;
    text-align: left;
    padding: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar label {
    padding-left: 25px;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.fileList {
    max-height: 100vh;
    height: 100vh;
    /*overflow-y: scroll; */
    border: none;
    background:#F5F5F5;
    overflow: scroll;
        overflow-x: scroll;
    overflow-x: hidden;
}

.fileList table {
    font-size: 15px;
}

.fileList table thead {
    opacity: 0.6;
}

.fileList table thead tr {
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.fileList table thead tr th {
border-right: 1px solid rgba(0,0,0,0.1) !important;
}

.fileList table tbody tr:hover {
    background: rgba(0,0,0,0.03);
    cursor: pointer;
}

.fileList .table td, .fileList .table th {
    border: none;
    font-weight: normal;
    padding: 11px;
    padding-left: 11px;
    padding-left: 22px;
}

.fileList .table td {
    opacity: 0.6;
}

.fileList .table thead tr .filelist-i {
    min-width: 40%;
}

.fileList .table tbody .activeFile {
    background: rgba(0,0,0,0.06);
}

#fileListNav .fileItem {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    background: #fff;
}

#fileListNav .fileItem.open {
    background:rgba(0,0,0,0.01);
    border-left: 3px solid #1A1A1A;
}

#fileListNav .fileItem:hover {
    background: rgba(0,0,0,0.01);
    cursor: pointer;
}

#fileListNav .fileItem .fileTitle {
    font-weight: 700;
}

#fileListNav .fileItem p {
    margin-bottom: 3px;
    font-size: 14px;
    word-wrap: break-word;
}

#fileListNav .fileItem span.meta{
    opacity: 0.6;
    padding-right: 5px;
    display: inline-block;
    margin-top: 0px;
}

#fileListNav .fileItem span.meta.tag {
    background: rgba(0,0,0,0.08);
    padding: 0 10px;
    margin-right: 5px;
    display: inline-block;
    padding: 1px 11px;
    border-radius: 7px;
    margin-top: 3px;
}

#fileListNav .fileItem span.meta:hover {
    opacity: 1;
}

.container {
    max-width: 100%;
}

.tabSet {
    padding: 0;
    margin: 0;
    border-bottom:1px solid rgba(0,0,0,0.3);
    display: none;
}

.tabSet .tab-i {
    padding: 15px 20px;
    border-right: 1px solid rgba(0,0,0,0.3);
    font-size: 15px;
}

.tabSet .tab-i.activeTab {
    height: calc(100% + 1px);
    background: #F5F5F5;
    border-bottom: 0;
    font-weight: 700;

}

.tabSet .newTab {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    padding: 5px 0px;
    font-size: 25px;
}

.sidepanel {
    height: 100vh;
    border-left: 1px solid rgba(0,0,0,0.3);
}

.sidepanel .panelTitle {
    padding: 17px 20px;
    width: 100%;
    position: sticky;
}

.sidepanel .panelTitle:hover {
    background: rgba(0,0,0,0.02);
}

.ck.ck-editor__main {
    max-width: 1100px;
}

.ck.ck-editor__main > .ck-editor__editable {
    border-bottom: 0;
    border-top: 0 !important;
    border-left: 0;
    border-right: 0;
    padding: 5px 20px;
    max-height: 85vh;
    border-bottom: none !important;
}

.ck.ck-editor__main > .ck-editor__editable p > ul {
    margin-top: -7px;
}

.ck.ck-editor__main > .ck-editor__editable p {
    margin-bottom: .7rem;
}

.toolbar {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    background: #fff;
}

.toolbar .btn-light {
    background: none;
    padding: 15px 20px;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

.toolbar .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.fileList .locationHeader {
    font-size: 12px;
    padding-top: 10px;
    background: none;
    padding: 15px 0;
    background: #fff;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

.fileList .locationHeader .currentLocation {
    display: block;
    font-size: 23px;
    font-weight: 900;
}

.fileList .locationHeader .options .btn {
    background: none;
    vertical-align: middle;
    height: 100%;
}

.ck.ck-toolbar {
    border-left: none !important;
    border-right: none !important;
    padding-left: 15px !important;
    background: #fff !important;
    padding: 6.8px 12px !important;
    position: sticky;
    border-top: 0 !important;
    background: rgba(0,0,0,0.02) !important;
    border-bottom: 1px solid rgba(0,0,0,0.08) !important;
}

.sidepanel h2 {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 20px;
}

.sidebar h2 {
    padding-bottom: 0;
    margin-bottom: 10px;
}

.sidebar .searchHolder {
    width: 100%;
    display: block;
    padding: 20px;
}

.sidebar .searchHolder .search {
	padding: 8px 15px;
	background: rgba(255,255,255,0.09);
	border: none;
	margin-top: 0;
	font-size: 14px;
	text-align: left;
	color: #fff;
	border-radius: 4px;
	width: 100%;
	display: inline-block;
}

.fileList .file-i {
    padding: 5px;
    padding-left: 25px;
    width: 100%;
    display: block;
}

.fileList .file-i:hover {
    background: rgba(0,0,0,0.03);
    cursor: pointer;
}

.ck-focused {
    box-shadow: none !Important;
    border: none !important;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused) {
    min-height: 60vh;
}


.sidebar .title {
    font-weight: 900;
    display: block;
    width: 100%;
    padding-left: 25px;
    font-size: 21px;
}

.sidebar a {
    color: inherit;
}

.sidebar a:hover {
    text-decoration: none;
}

.weeklyCal {
    position: absolute;
    bottom: 0;
    margin: 10px 20px;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    left: 0;
    margin-left: 0;
    padding:0 10px;
}



.weeklyCal .title {
    padding-left: 10px;
    font-size: 21px;
}

.weeklyCal .activeDay {
    font-weight: 900;
}

.weeklyCal .weeklyCal-i {
    margin: 0px auto;
    padding: 5px 10px;
    font-size: 26px;
}

.weeklyCal .weeklyCal-i:hover {
    background: rgba(0,0,0,0.06);
    cursor: pointer;
    border-radius: 8px;
    
}

.content {
    margin: 0;
    padding: 0;
    max-width: calc(100% - 263px);
    margin-left: 263px;
    overflow: hidden;
}

.notification-item {
    text-align: center;
    margin: 0;
    padding: 5px;
}

.notification-item p {
    margin: 0;
}

.notification-item.success {
    background:green;
    color:#fff;
}

.notification-item.error {
    background:darkred;
    color:#fff;
}

.notification-item.info {
    background:yellow;
    color:#000;
}

.notification-remove {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px;
    margin-right: 15px;
}


[v-cloak] > * { display:none; }
[v-cloak]::before {
  content: " ";
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url(/assets/img/puff.svg);
  background-size: cover;
  left: 50%;
  top: 50%;
}

.sidepanelCover {
    background: #F9F9F9;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.sidepanelCover .tips {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

a:hover {
    cursor: pointer;
}

.sidepanelCover .btn {
    margin: 0 5px;
    margin-top: -4px;
}

.btn.btn-dark {
    background-color: #1A1A1A;
}

.sidepanel-bar {
    float: right;
    width: 50px;
    top: 0;
    position: absolute;
    height: 100%;
    background:
    #F9F9F9;
    right: 0;
    border-left: 1px solid rgba(0,0,0,0.2)
}

.sidepanel-bar span {
    opacity: 0.6;
    width: 100%;
    display: block;
    text-align: center;
    padding: 20px 0;
}

.sidepanel-bar span:hover {
    opacity: 1;
    cursor: pointer;
}


.sidepanel .editor {
    width: calc(100% - 1px);
}

.sidepanel .editor .meta {
    padding: 14px;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgba(0,0,0,0.02);
    border-bottom: 1px solid rgba(102, 67, 67, 0.08);
}

.sidepanel .editor .meta .tags {
    display: inline-block;
}

.sidepanel .editor .meta .tags .tag {
    background:    rgba(0,0,0,0.065);
    padding: 5px 25px;
    border-radius: 10px;
    font-size: 15px;
    opacity: 0.8;
    font-size: 14px;
    cursor: pointer;
    margin-right: 4px;
    display: inline-block;
    position: relative;
}

.sidepanel .editor .meta .tags .tag:hover {
    opacity: 1;
}

.sidepanel .editor .meta .tags .tag .tagRemove {
    display: none;
    height: 25px;
    width: 25px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    text-align: center;
    background:#fff;
    position: absolute;
    top: -10px;
    opacity: 0.65;
    right: -10px;
    border: 1px solid #ddd;
}

.sidepanel .editor .meta .tags .tag .tagRemove:hover {
    opacity: 1;
}

.sidepanel .editor .meta .tags .tag:hover .tagRemove {
    display: inline-block;
}

.sidepanel .editor .meta .tags .tag.tag-new {
    background: none;
    padding: 0;
    padding-left: 10px;
    opacity: 0.4;
    padding: 4px;
    padding-left: 5px;
    min-width: 190px;
    border: none;
}

.sidepanel .editor .meta .tags .tag.tag-new:focus {
        opacity: 1;
}

.sidepanel .editor .meta .metaOptions {
    text-align: right;
    float: right;
}
.sidepanel .editor .meta .metaOptions span {
    padding: 0 10px;
    opacity: 0.6; 
    cursor: pointer;
}

.sidepanel .editor .meta .metaOptions span:hover {
    opacity: 1; 
}


.divider {
    height: 1px;
    background:rgba(255,255,255,0.08);
    width: 50%;
    margin: 15px auto;

}

 @media only screen and (max-width: 600px) {

    .sidebar {
        position: relative;
        width: 100%;
    }

    .content {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

 }

 .router-link-active {
     cursor: pointer;
    opacity: 1;
    font-weight: 700;
 }

 .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.disabled {
    cursor: not-allowed !important;
    opacity: 0.5 !important;
}

.modal-title {
    font-weight: 900;
    font-size: 27px;
}